doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")
        title #{htmlWebpackPlugin.options.title}
        meta(name="description" content="A fully recreated web-based TR-808 drum machine")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        // inline global css
        each cssFile in htmlWebpackPlugin.files.css
            style !{compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}

        // typekit font loading
        script(type="text/javascript").
            (function (d) {
                var config = {
                            kitId: 'rpz1qnd',
                            scriptTimeout: 3000,
                            async: true
                        },
                        h = d.documentElement, t = setTimeout(function () {
                            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                        }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
                h.className += " wf-loading";
                tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
                tk.async = true;
                tk.onload = tk.onreadystatechange = function () {
                    a = this.readyState;
                    if (f || a && a != "complete" && a != "loaded")return;
                    f = true;
                    clearTimeout(t);
                    try {
                        Typekit.load(config)
                    } catch (e) {
                    }
                };
                s.parentNode.insertBefore(tk, s)
            })(document);

    body
        // loading indicator
        #loader.loader-wrapper
            .loader

        // react render target
        #root.rendering

        // main app bundle
        each jsFile in htmlWebpackPlugin.files.js
            script(type="text/javascript" src="#{jsFile}" async)

        // google analytics
        script(type="text/javascript").
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-37394367-5', 'auto');
            ga('send', 'pageview');