doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")
        title #{htmlWebpackPlugin.options.title}
        meta(name="description" content="A fully recreated web-based TR-808 drum machine using React, Redux, and the Web Audio API.")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        // apple splash screens
        link(href=require('../splashscreens/iphone5_splash.png'), media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/iphone6_splash.png'), media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/iphoneplus_splash.png'), media='(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/iphonex_splash.png'), media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/ipad_splash.png'), media='(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/ipadpro1_splash.png'), media='(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        link(href=require('../splashscreens/ipadpro2_splash.png'), media='(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)', rel='apple-touch-startup-image')
        
        each headItem in htmlWebpackPlugin.tags.headTags
            if headItem.attributes.rel !== "stylesheet"
                #{headItem.tagName}&attributes(headItem.attributes)/

        if fontBaseURL != null
            style.
                @font-face {
                    font-family: "Helvetica LT W04";
                    src: url("#{fontBaseURL}/Fonts/1489428/5e04826f-5440-42ee-82bb-b212cb16bccc.woff2")
                        format("woff2"),
                        url("#{fontBaseURL}/Fonts/1489428/e0eda329-a6eb-46ac-8f15-e1c54de80856.woff")
                        format("woff");
                    font-weight: 300;
                    font-display: swap;
                }
                @font-face {
                    font-family: "Helvetica LT W04";
                    src: url("#{fontBaseURL}/Fonts/1489440/44a857e5-bb9c-4164-a9f8-82e0390eaf0f.woff2")
                        format("woff2"),
                        url("#{fontBaseURL}/Fonts/1489440/4deeb3d8-6eff-48da-9238-9220bb4a35f0.woff")
                        format("woff");
                    font-weight: 400;
                    font-display: swap;
                }
                @font-face {
                    font-family: "Helvetica LT W04";
                    src: url("#{fontBaseURL}/Fonts/1489456/5b00a1f2-3a6d-4922-a126-bde89e7f683c.woff2")
                        format("woff2"),
                        url("#{fontBaseURL}/Fonts/1489456/0b6078b5-b3d8-46ee-a22e-5197ae487290.woff")
                        format("woff");
                    font-weight: 700;
                    font-display: swap;
                }
                @font-face {
                    font-family: "ITC Serif Gothic W03";
                    src: url("#{fontBaseURL}/Fonts/1551836/2715f30a-75b0-4b8d-b3d6-775e708c31bb.woff2")
                        format("woff2"),
                        url("#{fontBaseURL}/Fonts/1551836/fa83b016-2709-4c67-a3c7-26c3c92c61fb.woff")
                        format("woff");
                    font-weight: 700;
                    font-display: swap;
                }


        // inline global css
        each cssFile in htmlWebpackPlugin.files.css
            style !{compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}

    body
        // loading indicator
        #loader.loader-wrapper
            .loader

        // react render target
        #root.rendering

        // main app bundle
        script(type="module" src="/main.mjs")
        each jsFile in htmlWebpackPlugin.files.js
            script(nomodule src=jsFile)
        
        if trackerURL != null && trackerSiteID != null
            // fathom analytics
            script(type="text/javascript").
                (function(f, a, t, h, o, m){
                    a[h]=a[h]||function(){
                        (a[h].q=a[h].q||[]).push(arguments)
                    };
                    o=f.createElement('script'),
                    m=f.getElementsByTagName('script')[0];
                    o.async=1; o.src=t; o.id='fathom-script';
                    m.parentNode.insertBefore(o,m)
                })(document, window, '#{trackerURL}', 'fathom');
                fathom('set', 'siteId', '#{trackerSiteID}');
                fathom('trackPageview');

        if fontBaseURL != null && linotypeUserID != null
            // font licensing script
            script(type="text/javascript").
                var MTUserId='#{linotypeUserID}';
                var MTFontIds = new Array();
                MTFontIds.push("1489428"); // Helvetica速 W04 Light 
                MTFontIds.push("1489440"); // Helvetica速 W04 Roman 
                MTFontIds.push("1489456"); // Helvetica速 W04 Bold 
                MTFontIds.push("1551836"); // ITC Serif Gothic速 W03 Bold 
                (function() {
                    var mtTracking = document.createElement('script');
                    mtTracking.type='text/javascript';
                    mtTracking.async='true';
                    mtTracking.src='/static/mtiFontTrackingCode.js';
                    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(mtTracking);
                })();
